<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OFF</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style/header.css" />

    <link rel="stylesheet" href="../style/burger.css" />
  </head>
  <body>
    <div class="Header">
      <span class="Header_block">
        <img
          class="Header_purple_circle"
          src="../img/purplecircle.svg"
          alt="purpleCircle"
        />
        <a class="Header_link" id="main" href="#main">
          <img class="Header_logo" src="../img/NFT.svg" alt="logo.svg" />
        </a>
      </span>

      <div class="Header_container">
        <div class="Header_links">
          <a class="Header_link" href="#main">
            <h2 class="Header_heading">Главная</h2>
          </a>

          <a class="Header_link" href="#study">
            <h2 class="Header_heading">Что даст обучение</h2>
          </a>
        </div>
        <button class="Header_button">Личный кабинет</button>
      </div>
    </div>

    <div class="wrapper">
      <div class="burger_menu_wrapper">
        <div class="Header_logo">
          <span class="Header_block">
            <img
              class="Header_purple_circle"
              src="../img/purplecircle.svg"
              alt="purpleCircle"
            />

            <a class="Header_link" id="main" href="#main">
              <img class="Header_logo" src="../img/NFT.svg" alt="logo.svg" />
            </a>
          </span>
        </div>

        <nav class="nav">
          <ul>
            <div class="header_logo">
              <span class="header_block">
                <img
                  class="header_purple_circle"
                  src="../img/purplecircle.svg"
                  alt="purpleCircle"
                />

                <a class="header_link" id="main" href="#">
                  <img
                    class="header_logo"
                    src="../img/NFT.svg"
                    alt="logo.svg"
                  />
                </a>
              </span>
            </div>

            <div class="header_links">
              <a class="Header_link" href="#">
                <h2 class="Header_heading">Главная</h2>
              </a>
              <a class="Header_link" href="#">
                <h2 class="Header_heading">Что даст обучение</h2>
              </a>
            </div>
            <button class="Header_button">Личный кабинет</button>
          </ul>
        </nav>

        <div class="burger">
          <span></span>
        </div>
      </div>
    </div>

    <div class="center">
      <div class="bgr_purple_top_header"></div>
      <div class="center_container">
        <h1 class="center_container_header">
          Не упусти возможность войти в <b>прибыльную нишу</b>
        </h1>
        <h2 class="center_container_heading">
          Получи все нужные навыки для заработка на NFT всего за 28 дней!
        </h2>

        <button class="center_container_button" id="show_modal">
          Начать зарабатывать на NFT
        </button>
      </div>
      <div class="circles top_green_circle"></div>
      <img class="center_man" src="../img/MAN.svg" alt="man" />
    </div>

    <div class="circles middle_purple_circle"></div>
    <div class="circles middle_blue_circle"></div>
    <div class="circles bottom_purple_circle"></div>

    <div class="popup_area">
      <div class="auth_form">
        <div class="bgr_green_light"></div>

        <h1 class="popup_header">Начни прямо сейчас!</h1>
        <h2 class="popup_heading">
          Получи все нужные навыки для заработка на NFT всего за 28 дней!
        </h2>

        <input
          class="popup_input"
          type="email"
          name="email"
          placeholder="Ваш email"
        />

        <button class="popup_close_btn">
          <img src="../img/CloseBtn.svg" alt="closebtn" />
        </button>
        <button class="popup_submit" type="submit">Оплатить</button>
      </div>
    </div>

    <div class="bgr_study">
      <div class="bgr_purple_content">
        <div class="bgr_purple_top"></div>
      </div>

      <div class="bgr_purple_btm"></div>

      <div class="study">
        <div class="study_content">
          <h1 id="study" class="study_header">Что даст тебе обучение?</h1>

          <div class="content">
            <div class="content_card">
              <img
                class="content_card_emoji"
                src="../img/starEyes.svg"
                alt="starEyes"
              />
              <h3 class="content_card_text">
                Откроешь свой первый криптокошелек и научишься с ним работать
              </h3>

              <div class="card">
                <div class="card_under"></div>
                <div class="card_top"></div>
              </div>
            </div>

            <div class="content_card">
              <img
                class="content_card_emoji"
                src="../img/winkEmoj.svg"
                alt="winkEmoj"
              />
              <h3 class="content_card_text">
                Поймёшь, как выбирать правильные дропы
              </h3>

              <div class="card">
                <div class="card_under"></div>
                <div class="card_top"></div>
              </div>
            </div>

            <div class="content_card">
              <img
                class="content_card_emoji"
                src="../img/moneyEmoj.svg"
                alt="moneyEmoj"
              />
              <h3 class="content_card_text">
                Построишь план по быстрому приумножению заработанных средств
              </h3>

              <div class="card">
                <div class="card_under"></div>
                <div class="card_top"></div>
              </div>
            </div>

            <div class="content_card">
              <img
                class="content_card_emoji"
                src="../img/bossEmoj.svg"
                alt="bossEmoj"
              />
              <h3 class="content_card_text">
                Узнаешь кто такие холдеры и флипперы
              </h3>

              <div class="card">
                <div class="card_under"></div>
                <div class="card_top"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="../script/script.js"></script>
  </body>
</html>
